<?xml version="1.0" encoding="UTF-8"?> 
 <!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="follow" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p]%d{yyyy-MM-dd HH:mm:ss}: %m%n" />
		</layout>
	</appender>
	<appender name="SIMPLE_STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p]%m%n" />
		</layout>
	</appender>

	<appender name="sys" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="log/sys/sys.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p]%d{yyyy-MM-dd HH:mm:ss}: %m%n" />
		</layout>
	</appender>
	<appender name="debug" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="log/sys/debug.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p]%d{yyyy-MM-dd HH:mm:ss}-%l: %m%n" />
		</layout>
	</appender>
	<appender name="error" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="log/sys/error.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p]%d{yyyy-MM-dd HH:mm:ss}-%l: %m%n" />
		</layout>
	</appender>
	
	<appender name="db" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="log/db/db.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p]%d{yyyy-MM-dd HH:mm:ss}[%l]: %m%n" />
		</layout>
	</appender>
	
	<appender name="monitor" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="log/monitor/monitor.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p]%d{yyyy-MM-dd HH:mm:ss}[%l]: %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>
	

	<logger name="SYS">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="sys"/>
	</logger>
	<logger name="DB">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="db"/>
	</logger>
	<logger name="MONITOR">
		<appender-ref ref="monitor"/>
	</logger>

	<category name="com.mchange">
		<level value="ERROR" />
		<appender-ref ref="error"/>
	</category>
	<category name="org.hibernate">
		<level value="ERROR" />
		<appender-ref ref="error"/>
	</category>
	<category name="org.apache">
		<level value="ERROR" />
		<appender-ref ref="error"/>
	</category>
	<category name="httpclient.wire">
		<level value="ERROR" />
		<appender-ref ref="error"/>
	</category>
	<category name="com.sol">
		<appender-ref ref="STDOUT"/>
	</category>
	
	<category name="org.sol">
		<level value="all" />
		<appender-ref ref="STDOUT"/>
	</category>
	


	<!--自定义的日志输出器 -->  
    <logger name="org.springframework">  
        <level value="info" />  
        <!-- 日志输出地 -->  
        <appender-ref ref="STDOUT" />  
    </logger>
    <logger name="com.opensymphony.xwork2">  
        <level value="info" />
        <appender-ref ref="STDOUT" />  
    </logger> 
    <logger name="freemarker">  
        <level value="info" />
        <appender-ref ref="STDOUT" />  
    </logger>

    <root>
		<level value="debug" />
	</root>
</log4j:configuration>