@charset "utf-8";
*{ margin:0px; padding:0px}
body {
	font-family: "微软雅黑";
	font-size:12px;
	width:1024px;
	background:#e5e5e5
}
table {font-size:12px}
a { text-decoration:none }
a img{border:0px}
a:hover { }
li { list-style-type:none}
.clear { clear:both}
#top { width:1024px;height:71px; clear:both; background:url(title_bar.jpg) no-repeat}
.topStr {position:relative;top:40px;left:700px;font-weight:bold}

/* Clear Fix */ 
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; } 
.clearfix { display:inline-block; } 
/* Hide from IE Mac */ 
.clearfix {display:block;} 
/* End hide from IE Mac */ 
/* end of clearfix */ 
.clear15 {height:15px}
.clear5 {height:3px}


#mainFrame{width:1024px;}
#left { float:left; width:160px !important;width:200px; padding:10px; background:#555; text-align:center;height:697px;}

.golden_1 { background:url(golden_1.png) no-repeat; width:174px; text-align:center; line-height:60px; font-size:16px; font-weight:bold; color:#333; text-indent:20px } 
.golden_2 { background:url(golden_2.png) no-repeat; width:174px; text-align:center; line-height:60px; font-size:16px; font-weight:bold; color:#333; text-indent:20px } 
.golden_3 { background:url(golden_3.png) no-repeat; width:174px; text-align:center; line-height:60px; font-size:16px; font-weight:bold; color:#333; text-indent:20px }
.golden_4 { background:url(golden_4.png) no-repeat; width:174px; text-align:center; line-height:60px; font-size:16px; font-weight:bold; color:#333; text-indent:20px } 
.golden_5 { background:url(golden_5.png) no-repeat; width:174px; text-align:center; line-height:60px; font-size:16px; font-weight:bold; color:#333; text-indent:20px } 
.golden_6 { background:url(golden_6.png) no-repeat; width:174px; text-align:center; line-height:60px; font-size:16px; font-weight:bold; color:#333; text-indent:20px } 
.golden_7 { background:url(golden_7.png) no-repeat; width:174px; text-align:center; line-height:60px; font-size:16px; font-weight:bold; color:#333; text-indent:20px } 

.golden li { background:url(blue_samll.png) no-repeat center; line-height:40px;}

#right {width:824px;height:697px; padding:10px;background-image:url('right_background.jpg');}
input[type="text"],select,textarea { background:#FFF; line-height:30px; border:1px solid #999; width:200px;}

select {width:100px;}
.input select{width:200px;}

.requst {}
.requst li { padding:8px 0px; clear:both}
.requst li i { font-style:normal; float:left; width:80px}
.addword_1 { background:url(blue_1.png) no-repeat; display:block; line-height:60px; width:174px; color:#004477; font-size:16px; font-weight:bold; text-align:center;text-indent:20px}
.addword_2 { background:url(blue_2.png) no-repeat; display:block; width:174px; color:#004477; font-size:16px; font-weight:bold; text-align:center;text-indent:20px ; height:60px}

.button ul li a { color:#555}
.button ul li { background: url(white.png); line-height:60px; width:90px; text-align:center; font-weight:bold; color:#333; font-size:16px;}
.msgyes { background:#aad06b; border:1px solid #5c673c; color:#090; line-height:30px; padding-left:15px; margin-bottom:15px}
.msgno { background:#ec6d66; border:1px solid #803f39; color:#C33;line-height:30px;padding-left:15px;margin-bottom:15px}
.list {overflow:auto;}
.list table { width:100%; background:#999 }
.list table th { background:#555; line-height:30px; text-align: center; color:#FFF}
.list table tr td { line-height:25px; background: #FFF;padding-left:3px}

.button {}
.button ul { float:right}
.button ul li { float:left; background: }

.hiddenDiv {display:none;width:300px;padding:10px;position:absolute;left:200px;top:200px;border:1px solid #444;background-color:#fff;}