@charset "utf-8";
*{ margin:0px; padding:0px}

body {background:#e5e5e5}
table {font-size:12px}

a img {border:0px;}

/* input[type='text'] {border:1px solid #A4BED4;width:150px;} */
select {width:150px;}

.clear {height:15px;}
.topStr {position:relative;top:40px;left:700px;font-weight:bold}


.golden_1 { background:url(golden_1.png) no-repeat; width:174px; text-align:center; line-height:60px; font-size:16px; font-weight:bold; color:#333; text-indent:20px } 
.golden_2 { background:url(golden_2.png) no-repeat; width:174px; text-align:center; line-height:60px; font-size:16px; font-weight:bold; color:#333; text-indent:20px } 
.golden_3 { background:url(golden_3.png) no-repeat; width:174px; text-align:center; line-height:60px; font-size:16px; font-weight:bold; color:#333; text-indent:20px }
.golden_4 { background:url(golden_4.png) no-repeat; width:174px; text-align:center; line-height:60px; font-size:16px; font-weight:bold; color:#333; text-indent:20px } 
.golden_5 { background:url(golden_5.png) no-repeat; width:174px; text-align:center; line-height:60px; font-size:16px; font-weight:bold; color:#333; text-indent:20px } 
.golden_6 { background:url(golden_6.png) no-repeat; width:174px; text-align:center; line-height:60px; font-size:16px; font-weight:bold; color:#333; text-indent:20px } 
.golden_7 { background:url(golden_7.png) no-repeat; width:174px; text-align:center; line-height:60px; font-size:16px; font-weight:bold; color:#333; text-indent:20px } 

.golden li { background:url(blue_samll.png) no-repeat center; line-height:40px;}

#right {width:825px!important; width:820px;margin:0px;padding:10px;height:700px!important;height:700px;background-image:url('right_background.jpg');}

.hiddenDiv {display:none;width:300px;padding:10px;position:absolute;left:200px;top:200px;border:1px solid #444;background-color:#fff;}

/* autocomplete */
#jSuggestContainer {
position:absolute;
font: 12px Tahoma;
border:1px solid #ffb931;
border-top:0;
background:#FFF;
}

.jSuggestLoading {
font-style:italic;
padding: 10px;
}

#jSuggestContainer ul, #jSuggestContainer ul li{
margin: 0;
padding:0;
list-style:none;
}



#jSuggestContainer ul li{
padding: 2px 4px;
border-bottom: 1px dotted #ffe594;
color:#666;
background:#fff9e7;
cursor:pointer
}

#jSuggestContainer ul li.last{
border-bottom: 0;
}

#jSuggestContainer ul li.jSuggestHover{
background:#ffeaaa;
color:#333;
}

/* easyui extention */
#queryPanel{padding:10px;background:#fafafa;margin-bottom:10px}

